
<div class='container'>
  <div class='row align-middle'>
  <div class='col-4'>
    <div class='jumbotron'>
      <h2>Connection</h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :username, 'Matricule' %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "matricule", hide_label: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", hide_label: true %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-5">
            <%= f.check_box :remember_me %>
          </div>
        <% end %>

        <div class="actions text-right" >
          <%= f.submit "Se connecter" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
  <div class='col'>
    <%= image_tag 'pharmacy.png', class: 'img-fluid mt-5 float-right',
                                  id:    'homeImage',
                                  style: 'display: none;'  %>
  </div>
  </div>
</div>
