<%= form_with(model: user_order) do |form| %>
  <% if user_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_order.errors.count, "error") %> prohibited this user_order from being saved:</h2>

      <ul>
        <% user_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
