<p id="notice"><%= notice %></p>

<h1>User Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_orders.each do |user_order| %>
      <tr>
        <td><%= user_order.user_id %></td>
        <td><%= user_order.order_id %></td>
        <td><%= link_to 'Show', user_order %></td>
        <td><%= link_to 'Edit', edit_user_order_path(user_order) %></td>
        <td><%= link_to 'Destroy', user_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Order', new_user_order_path %>
