<thead>
  <tr>
    <td>Catégorie</td>
    <td>Libellé</td>
    <td class="text-center">Quantité</td>
    <td>Dosage</td>
    <td>Quantité minimum</td>
    <td>Quantité maximum</td>
    <td>Lot précédent</td>
    <td></td>
  </tr>
</thead>
