<h2 class="mb-5">Formulaire: <%= @formular.name %></h2>

<%= bootstrap_form_with(model: [formular, order], class: 'form-group', local: false) do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <table class='table table-striped table-bordered'>
    <%= build_table(formular, order, form) %>
    <thead>
      <tr>
        <td>Libellée</td>
        <td class="pl-3">- / +</td>
        <td class="text-center">Quantité</td>
        <td></td>
      </tr>
    </thead>
    <tbody class='fields'>
      <%# TODO: set prefered barrack once user login stuff will be done %>
      <%= form.label 'Centre', class: 'font-weight-bold' %>
      <%= form.collection_select :barrack, User.barracks, :first, :first, { hide_label: true }, { class: 'mb-4' } %>

      <%= form.label 'Commentaires', class: 'font-weight-bold' %>
      <%= form.text_area :comment, hide_label: true, class: 'mb-4' %>

      <%= form.label 'Articles', class: 'font-weight-bold' %>
      <%= render partial: 'orders/order_product_row', collection: @order.order_products, as: :order_product %>

      <%# Row for builded order product (<select> tag) %>
      <%= form.fields_for :order_products, @builded_order_product do |order_product_fields| %>
        <%= render partial: 'orders/order_product', locals: { f:              order_product_fields,
                                                              order_products: @order.order_products } %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
  <%= link_to_add_product_row('Ajouter un article', form, :order_products, class: 'mb-2') %>
  </div>
  <hr class="my-3">
  <%= form.submit class: 'btn btn-lg btn-block btn-success shadow mt-5' %>

<% end %>
