<tr class='order_product_row'>
  <% if @formular.has_product_categories %>

    <td><%= f.collection_select(:category, ProductCategory.order(:name), :id, :name, { hide_label: true, prompt: 'Catégorie...' }, { class: 'order_product_row_category' } ) %></td>
    <td><%= f.grouped_collection_select(:product_id, ProductCategory.order(:name), :products, :name, :id, :name, { hide_label: true, prompt: 'Article...' }, { style: "width:300px", class: 'categorized_products order_product_row_product' }) %></td>
 
  <% else %>

    <td><%= f.collection_select(:product_id, @formular.products, :id, :name, { hide_label: true, prompt: 'Article...' }, { style: "width:300px" }) %></td>
  <% end %>
  <td><%= f.number_field :quantity, min: 1, size: 1, hide_label: true %></td>
  <td>
    <%= f.hidden_field :_destroy, as: :hidden, method: :delete %>
    <%= link_to '#', class: 'remove_order_product' do %>
      <i class="fas fa-trash-alt text-dark float-right mr-5 mt-2 shadow" title="Supprimer"></i>
  </td>
  <% end %>
</tr>
<script>$(function() { window.filterOrderProductCategories(); });</script>
