<% return if order_product.product.nil? %>

<tr id="order_product_<%= order_product.id.to_s %>">
  <td><%= order_product.product.name %></td>
  <td class="btn-group">
    <%= link_to '-', { action:     'decrement_quantity',
                       controller: 'order_products',
                       formular_id: @formular.id,
                       order_id:    @order.id,
                       id:          order_product.id },
                     { method: :patch,
                       remote: true,
                       class:  'btn btn-sm btn-secondary' }
    %>  
    <%= link_to '+', { action:    'increment_quantity',
                       controller:  'order_products', 
                       formular_id: @formular.id,
                       order_id:    @order.id,
                       id:          order_product.id },
                     { method: :patch,
                       remote: true,
                       class:  'btn btn-sm btn-primary' }
    %>
  </td>
  <td class="text-center"><%= order_product.quantity %></td>
  <td></td>
  <td>
    <%= link_to order_product, method: :delete, remote: true do %>
      <i class="fas fa-trash-alt text-dark float-right mr-5 mt-2 shadow" title="Supprimer"></i>
    <% end %>
  </td>
</tr>

