<div class='container'>
  <div class='jumbotron shadow'>
    <%= render partial: 'orders/form', locals: { order:         @order,
                                                 formular:      @formular,
                                                 order_product: @order_product } %>
  </div>
  <%= link_to 'Back', formulars_path %>
</div>

<%= javascript_pack_tag 'custom/order_products' if @formular.has_product_categories %>
