<div class='container'>
  <div class='jumbotron shadow'>
    <%= render partial: 'orders/form', locals: { order:         @order,
                                                 formular:      @formular,
                                                 order_product: @order_product } %>
  </div>
  <%= link_to 'Back', formular_orders_path %>
</div>

