<%= bootstrap_form_with(model: formular_product, url: formular_formular_products_path(@formular), class: 'form-group', local: false) do |form| %>

  <%= form.alert_message 'Une erreur est survenue' %>

  <%= form.hidden_field :formular_id %>
  <%= form.collection_select(:product_id, products, :first, :last, { hide_label: true, prompt: 'Article...' }) %>
  <%= form.submit 'Soumettre', id: 'formular_product_createi_button', class: 'btn btn-primary col-auto my-1 float-right' %>

<% end %>
