<p id="notice"><%= notice %></p>

<h1>Formular Products</h1>

<table>
  <thead>
    <tr>
      <th>Formular</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formular_products.each do |formular_product| %>
      <tr>
        <td><%= formular_product.formular_id %></td>
        <td><%= formular_product.product_id %></td>
        <td><%= link_to 'Show', formular_product %></td>
        <td><%= link_to 'Edit', edit_formular_product_path(formular_product) %></td>
        <td><%= link_to 'Destroy', formular_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formular Product', new_formular_product_path %>
