<p id="notice"><%= notice %></p>

<p>
  <strong>Formular:</strong>
  <%= @formular_product.formular_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @formular_product.product_id %>
</p>

<%= link_to 'Edit', edit_formular_product_path(@formular_product) %> |
<%= link_to 'Back', formular_products_path %>
