<div id="accordion">
  <% categories.each do |category| %>
    <div class="card">
      <div class="card-header" id="card-header-<%= category.id %>">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-<%= category.id %>" aria-expanded="false" aria-controls="collapse-<%= category.id %>">
            <%= category.name %>
          </button>
        </h5>
      </div>

      <div id="collapse-<%= category.id %>" class="collapse" aria-labelledby="card-header-<%= category.id %>" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="list-group" id='list-tab' role='tablist'>
                <a class="list-group-item list-group-item-action active" id="list-consult-list-<%= category.id %>" data-toggle="list" href="#list-consult-<%= category.id %>" role="tab" aria-controls="consult-<%= category.id %>">Consulter</a>
                <a class="list-group-item list-group-item-action" id="list-add-list-<%= category.id %>" data-toggle="list" href="#list-add-<%= category.id %>" role="tab" aria-controls="add-<%= category.id %>">Ajouter un article</a>
                <a class="list-group-item list-group-item-action" id="list-edit-list-<%= category.id %>" data-toggle="list" href="#list-edit-<%= category.id %>" role="tab" aria-controls="edit-<%= category.id %>">Paramètres</a>
                <a class="list-group-item list-group-item-action" id="list-delete-list-<%= category.id %>" data-toggle="list" href="#list-delete-<%= category.id %>" role="tab" aria-controls="delete-<%= category.id %>">Supprimer</a>
              </div>
            </div>
            <div class="col-8 d-flex flex-column">
              <div class="tab-content my-auto" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-consult-<%= category.id %>" role="tabpanel" aria-labelledby="list-consult-list-<%= category.id %>">
                  <div class="mb-1 d-flex flex-column">
                    <h6 class='mb-2'><u>Informations</u></h6>
                    <ul>
                      <li><%= category.products.size %> articles</li>
                      <li>Créée le <%= category.created_at.to_s %></li>
                    </ul>
                  </div>
                  <%= link_to product_category_path(category) do %>
                    <button type="button" class='btn btn-primary float-right mt-auto'>Consulter</button>
                  <% end %>
                </div>
                <div class="tab-pane fade" id="list-add-<%= category.id %>" role="tabpanel" aria-labelledby="list-add-list-<%= category.id %>">
                  <div class="mb-5">
                    <h6 class='mb-4'>Ajouter un article à la catégorie:</h6>
                    <%= render partial: 'product_categories/add_product', locals: { category: category } %>
                  </div>
                </div>
                <div class="tab-pane fade" id="list-edit-<%= category.id %>" role="tabpanel" aria-labelledby="list-edit-list-<%= category.id %>">
                  <div class="mb-5">
                    <h6 class='mb-4'>Nouveau nom:</h6>
                    <%= render partial: 'product_categories/form', locals: { category: category } %>
                  </div>
                </div>
                <div class="tab-pane fade mt-auto" id="list-delete-<%= category.id %>" role="tabpanel" aria-labelledby="list-delete-list-<%= category.id %>">
                  <div class="mb-1 mt-auto d-flex flex-column">
                    <p><b>/!\</b> Toute suppression est définitive</p>
                    <%= link_to category, method: :delete, confirm: 'Supprimer la catégorie ?' do %>
                      <button type='button' class="btn btn-danger float-right mt-auto">Supprimer</button>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
