<%= bootstrap_form_with(url: '/add_product_to_category', method: :patch, local: false) do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <%= form.hidden_field :product_category_id, value: category.id, name: 'product[product_category_id]' %>
  <%= form.text_field :name, id: "product_name#{category&.id || ''}", class: 'form-control col-form-lg', name: 'product[name]', placeholder: "Nom de l'article...", data: { behavior: 'autocomplete' }, hide_label: true %>

  <%= form.submit 'Soumettre', class: 'btn btn-primary col-auto my-1 float-right' %>
<% end %>
