<%= bootstrap_form_with(model: category, class: 'form-group', local: false) do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <%= form.text_field :name, class: 'form-control col-form-lg', placeholder: 'Nom de la catégorie...' %>

  <%= form.submit 'Soumettre', class: 'btn btn-primary col-auto my-1 float-right' %>
<% end %>
