<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="mb-5">Categories de produits</h1>

  <div class="jumbotron">
    <h3 class="mb-3">Catégories existantes</h3>
    <div class="container">
    <%= render partial: 'product_categories/accordion', locals: { categories: @categories, category: @category } %>
    </div>
  </div>

  <div class="jumbotron">
    <h3 class="mb-3">Créer une nouvelle catégorie</h3>
    <div class="container">
    <%= render 'form', category: @category %>
    </div>
  </div>
</div>
