<p id="notice"><%= notice %></p>

<div class="container">
  <div class="ml-3">
    <div class="jumbotron">
      <h3>Créer une nouvelle catégorie de produits</h3>
      <%= render partial: 'product_categories/form', locals: { category: @category } %>
    </div>
  </div>

  <%= link_to 'Back', product_categories_path %>
</div>
