<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_product_category_path(@category) %> |
<%= link_to 'Back', product_categories_path %>
