<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>

  <body>
    <p>Nouvelle commande: <%= formular_formular_order_url(formular_id: @formular.id, id: @formular_order.id, host: 'https://wow.zor') %></p>

    <%= render partial: 'formular_orders/submission', locals: { submission: @formular_order } %>
  </body>
</html>
