<%= form_with(model: [:formular, formular_order]) do |form| %>
  <% if formular_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formular_order.errors.count, "error") %> prohibited this formular_order from being saved:</h2>

      <ul>
        <% formular_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :formular_id %>
    <%= form.text_field :formular_id %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
