<table class='table table-striped table-bordered shadow'>
  <thead>
    <tr>
      <td>Libellé</td>
      <td>Quantité</td>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
