<tr>
  <td><%= submission.user.username rescue 'TODO set username' %></td>
  <td><%= submission.barrack %></td>
  <td><%= submission.submited_at %></td>
  <td>
    <%= link_to formular_order_modal_path(submission), remote: true do %>
      <button type='button' class='btn btn-sm btn-outline-primary' data-toggle='modal' data-target='#modal-<%= submission.id %>'>Détails</button>
    <% end %>
  </td>
</tr>
