<p><strong>Centre:</strong> <%= submission.barrack %></p>

<p><strong>Commentaires:</strong> <%= submission.comment %></p>

<p><strong>Soumis le:</strong> <%= submission.submited_at %></p>

<p><strong>Articles:</strong></p>
<%= render partial: 'formular_orders/product_table', locals: { products: submission.order_products } %>
