<div class='modal fade' id='modal-<%= submission.id %>' tabindex='-1' role='dialog' aria-labelledby='aze' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>

      <div class='modal-header'>
        <h5 class='modal-title' id='aze'>
          <%= submission.submited_at %>
        </h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>

      <div class='modal-body'>
        <%= render partial: 'formular_orders/submission', locals: { submission: submission} %>
      </div>

      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Fermer</button>
      </div>
    </div>
  </div>
</div>
