<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Utilisateur</th>
        <th scope="col">Centre</th>
        <th scope="col">Date</th>
        <th scope="col">Consulter</th>
      </tr>
    </thead>
    <tbody>
      <% submissions.each do |submission| %>
        <%= render partial: 'formular_orders/submission_row', locals: { submission: submission } %>
      <% end %>
    </tbody>
  </table>
</div>
