<div class="container">
  <div class="row mb-3">
    <div class="container shadow">

      <%= render partial: 'formular_orders/submission', locals: { submission: @formular_order } %>

    </div>
  </div>

  <%= link_to 'Retour', formular_path(@formular) %>
</div>
