<div id="accordion">
<% formulars.each do |formular| %>
  <div class="card">
    <div class="card-header" id="card-header-<%= formular.id %>">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-<%= formular.id %>" aria-expanded="false" aria-controls="collapse-<%= formular.id %>">
          <%= formular.name %>
        </button>
        <%= render partial: 'formulars/delete_outline_sm_button', locals: { formular: formular } %>
        <%= render partial: 'formulars/view_outline_sm_button', locals: { formular: formular } %>
        </h5>
      </div>

      <div id="collapse-<%= formular.id %>" class="collapse" aria-labelledby="card-header-<%= formular.id %>" data-parent="#accordion">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-10">
              <%= render partial: 'formular_orders/submission_table', locals: { submissions: formular.submissions } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
