<div class="container-fluid">
  <h2 class="text-center mb-5"><%= formular.name %></h2>
  <hr class="mb-5">

  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="list-group-item list-group-item-action active" id="list-submissions-list" data-toggle="list" href="#list-submissions" role="tab" aria-controls="submissions">Soumissions</a>
          </li>
          <li class="nav-item">
            <a class="list-group-item list-group-item-action" id="list-articles-list" data-toggle="list" href="#list-articles" role="tab" aria-controls="articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="list-group-item list-group-item-action" id="list-edit-list" data-toggle="list" href="#list-edit" role="tab" aria-controls="edit">Modifier le formulaire</a>
          </li>
          <li class="nav-item">
            <a class="list-group-item list-group-item-action" id="list-delete-list" data-toggle="list" href="#list-delete" role="tab" aria-controls="dete">Supprimer</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active ml-3" id="list-submissions" role="tabpanel" aria-labelledby="list-submissions-list">
          <h4 class="my-3">Soumissions</h4>
          <% if submissions %>
            <%= render partial: 'formular_orders/submission_table', locals: { submissions: formular.submissions } %>
          <% else %>
            <p>Aucune soumissions pour le moment</p>
          <% end %>
        </div>

        <div class="tab-pane fade ml-3" id="list-articles" role="tabpanel" aria-labelledby="list-articles-list">
          <h4 class="my-3">Ajouter un article au formulaire</h4>
          <div class="mb-5">
            <%= render partial: 'formular_products/form', locals: { formular_product: formular_product,
                                                                    products:         products } %>
          </div>

          <br><hr>
          <div class="mt-5"> 
            <h4 class="my-3">Liste des articles</h4>
              <%= render partial: 'products/product_table', locals: { products: formular_products } %>
          </div>
        </div>

        <div class="tab-pane fade ml-3" id="list-edit" role="tabpanel" aria-labelledby="list-edit-list">
          <h4 class="my-3">Modifier le formulaire</h4>
          <%= render partial: 'formulars/form', locals: { formular: formular } %>
        </div>

        <div class="tab-pane fade ml-3" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
          <h4 class="my-3 mb-5">Supprimer le formulaire</h4>
          <strong>/!\</strong> Toutes les suppressions sont définitives.
          <%= render partial: 'formulars/delete_button', locals: { formular: formular } %>
        </div>
      </div>
    </div>
  </div>
</div>
