  <div class="card shadow-sm">
    <div class="card-header">
      <%= formular.name %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= formular.description || '' %></h5>

      <hr>

      <%= render partial: 'orders/create_outline_sm_button', locals: { formular: formular }, cached: true %>
      <% if admin? %>
        <%= render partial: 'formulars/view_outline_sm_button', locals: { formular: formular }, cached: true %>
      <% end %>
    </div>
  </div>
