<%= bootstrap_form_with(model: formular, class: 'form-group', local: false) do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <%= form.text_field :name, class: 'form-control col-form-lg', placeholder: 'Nom du formulaire...', hide_label: true %>
  <%= form.text_area :description, class: 'form-control col-form-lg', placeholder: 'Description...', hide_label: true %>
  <%= form.check_box :has_product_categories, label: 'Catégoriser les produits ?', custom: :switch %>

  <%= form.submit 'Soumettre', class: 'btn btn-primary col-auto my-1 float-right' %>
<% end %>
