// Display flash
$('#flash').append('<%= j render partial: "shared/flash" %>');

// Rewrite URL
var state = { formular: <%= @formular.id %> }
window.history.pushState(state, null, '/formulars/<%= @formular.id %>');

// Inject content
$('.container').replaceWith('<%= j render partial: "formulars/administrator_panel", locals: { formular:         @formular,
                                                                                              submissions:      @submissions,
                                                                                              formular_product: @formular_product,
                                                                                              formular_products: @formular_products,
                                                                                              products:         @products } %>')
