<div class="container">
  <div class="ml-3">
    <div class="jumbotron shadow">
      <h3>Editer le formulaire</h3><br>
      <%= render partial: 'formulars/form', locals: { formular: @formular } %>
    </div>
  </div>

<%= link_to 'Retour', formulars_path %>
</div>
