<div class="container">
  <h1>Formulaires</h1>
  <br>

  <div class='ml-3'>
    <%= render partial: 'formulars/cards_formulars', locals: { formulars: @formulars }, cached: true %>
    <hr>
  </div>
</div>

