<div class="container">
  <div class="row">
    <div class="ml-3 col">
      <div class="jumbotron shadow">
        <h3>Créer un nouveau formulaire</h3><br>
        <%= render partial: 'formulars/form', locals: { formular: @formular } %>
      </div>
    </div>
  </div>

  <%= link_to 'Retour', formulars_path %>
</div>
