<%= render partial: 'formulars/administrator_panel', locals: { formular:         @formular,
                                                               formular_product: @formular_product,
                                                               formular_products: @formular_products,
                                                               submissions:      @submissions,
                                                               products:         @products } %>
