<%= bootstrap_form_with(model: (product), class: 'form-group', local: false) do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <div class='form-group row'>
    <div class="col-sm-9">
      <%= form.text_field :name, id: 'product_name', class: 'form-control', placeholder: 'Nom du produit', label: 'Libellé' %>
    </div>
  </div>


  <div class='form-group row'>
    <div class="col-sm-9">
      <%= form.collection_select :product_category_id, categories.all, :id, :name, { label: 'Catégorie (otpionnelle)', prompt: '-' }, { class: 'form-control', id: 'categories' } %>
    </div>
  </div>

  <%= form.submit 'Soumettre', class: 'btn btn-primary col-auto my-1 float-right' %>

<% end %>
