<div class="table-responsive">
  <table class="table table-striped text-center" id="product_table">
    <thead>
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Categorie</th>
        <th scope="col">Consulter</th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <%= render partial: 'products/product_row', locals: { product: product } %>
      <% end %>
    </tbody>
  </table>
</div>
