<tr>
  <td><%= product.name %></td>
  <td><%= product.category&.name || '-' %></td>
  <td>
    <%= link_to product, class: 'mx-auto' do %>
      <i class="far fa-eye text-dark"></i>
    <% end %>
  </td>
</tr>
