<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Produits (Articles ?)</h1>
  <br>

  <div class="ml-3">
    <div class="jumbotron">
      <h3>Ajouter un nouvel article</h3><br>
      <%= render partial: 'products/form', locals: { product: @product, categories: @categories } %>
    </div>

    <div class="jumbotron">
      <h3>Derniers articles ajoutés</h3>
      <%= render partial: 'products/product_table',  locals: { products: @products } %>
    </div>
  </div>
</div>


<%= link_to 'New Product', new_product_path %>
