<p id="notice"><%= notice %></p>

<div class="container">
  <div class="ml-3">
    <div class="jumbotron">
      <h3>Ajouter un nouvel article</h3><br>
      <%= render partial: 'products/form', locals: { product: @product, categories: @categories } %>
    </div>
  </div>

  <%= link_to 'Retour', products_path %>
</div>
