<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category_id %>
</p>

<%= link_to 'Éditer', edit_product_path(@product) %> |
<%= link_to 'Retour', products_path %>
