<%= bootstrap_form_with(model: [@formular, @order_product], class: 'form-group') do |form| %>
  <%= form.alert_message 'Une erreur est survenue' %>

  <%= form.hidden_field :order_id %>

  <tr>
    <td><%= form.text_field :product_id, id: 'product_name', class: 'form-control', placeholder: 'Nom du produit...', data: { behavior: 'autocomplete' }, hide_label: true %></td>

    <td></td>

    <td><%= form.number_field :quantity, class: 'form-control', hide_label: true %></td>

    <td><%= form.submit %></td>
  </tr>
<% end %>
