var order_product_row = document.getElementById('order_product_<%= @order_product.id.to_s %>')

var order_product_quantity_cell = order_product_row.getElementsByTagName('td')[2]

var quantity = parseInt(order_product_quantity_cell.innerHTML)

if (quantity > 1) {
  order_product_quantity_cell.innerHTML = quantity - 1
} else if (quantity == 1) {
  order_product_row.remove()
}
