<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

    <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to 'Formulaires', formulars_path, class: 'nav-link' %>
      </li>
    <% end %>

    </ul>
    <ul class="navbar-nav ml-auto">

      <% if admin? %>
        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu", aria-labelledby="navbarDropdown">
            <div class="dropdown-header">FORMULAIRES</div>
            <%= link_to 'Consulter', formulars_path, class: 'dropdown-item' %>
            <%= link_to 'Créer', new_formular_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">CATEGORIES</div>
            <%= link_to 'Consulter', product_categories_path, class: 'dropdown-item' %>
            <%= link_to 'Créer', new_product_category_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">ARTICLES</div>
            <%= link_to 'Consulter', products_path, class: 'dropdown-item' %>
            <%= link_to 'Créer', new_product_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>

        <li class="nav-item mr-2">
          <% if user_signed_in? %>
            <%= link_to 'Se déconnecter', destroy_user_session_path, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Se connecter', sign_in_path, class: 'nav-link' %>
          <% end %>
        </li>
    </ul>
  </div>
</nav>
